body {
	padding-top: 70px;
	font-family: 'Lato', sans-serif;
}

h1 {
	text-transform: uppercase;
	border-bottom: 5px double black;
	padding-top: 20px;
	padding-bottom: 20px;
}

h4	{
	font-size: 700;
}

ul {
	list-style: none;
}

ul li::before {
  content: "\200B";
}

button {
	margin: 2px;
}

.jumbotron {
  background: url(img/jumbotron_bg.jpeg);
  background-size: cover;
  background-position: top;
  text-align: center;
}
.footer {
	text-align: center;
	margin-top: 20px;
	color: grey;
}
